$line-height-base: 1.5 !default;
$font-size-base: 1rem !default;

//headings
$h-sizes: (
    1 ($font-size-base * 3) ($font-size-base * 2.5),
    2 ($font-size-base * 2.5) ($font-size-base * 2),
    3 ($font-size-base * 2) ($font-size-base * 1.5),
    4 ($font-size-base * 1.5) ($font-size-base * 1.25),
    5 ($font-size-base * 1.5) ($font-size-base * 1.125),
    6 $font-size-base $font-size-base
) !default;
$h-lines: (
    1: $line-height-base * 34.66,
    2: $line-height-base * 29.33,
    3: $line-height-base * 24,
    4: $line-height-base * 18.88,
    5: $line-height-base * 16,
    6: $line-height-base * 13.33
) !default;
$media-h-lines: (
    1: $line-height-base * 29.33,
    2: $line-height-base * 24,
    3: $line-height-base * 18.88,
    4: $line-height-base * 16,
    5: $line-height-base * 14.66,
    6: $line-height-base * 13.33
) !default;

:root {
    --bg-color: #ffc800;
    --btn-default: #f1f1f1;
    --btn-default-hover: #e6e6e6;
}